* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body,
.container {
	background-color: #FFFAF0;
}

.container-fluid {
	margin: 15px auto;
	text-align: center;
	height: 100%;
}

.wrapper {
	background: url(https://images.pexels.com/photos/335393/pexels-photo-335393.jpeg?h=350&auto=compress&cs=tinysrgb) no-repeat center /cover;
	width: 100%;
	min-height: 300px;
}

h1 {
	font: 72px 'Kalam';
	color: #3300FF;
	margin: 50px auto;
}

input {
	border-radius: 5px;
	color: #286090;
	font: bold 19px 'Verdana';
	padding: 10px;
	margin-right: 20px;
}

h2 {
	font: 42px 'Montserrat';
	color: #330066;
	margin: 50px auto;	
}

tbody {
	border-top: 2px solid #CCC;
}

tbody > tr td:nth-child(2),
thead > tr th:nth-child(2) {
	border-right: 2px solid #CCC;
	border-left: 2px solid #CCC;
}

th,
td {
	box-sizing: content-box;
	font: bold 21px 'Verdana';
	color: #330066;	
	text-align: center;
	min-width: 370px;
	max-width: 30%;
	padding: 10px 0;
}

th {
	text-transform: uppercase;
	background-color: rgba(51, 0, 102, .3);
}

td {
	font-size: 14px;
	text-align: center;
}

tbody > tr > td > td:nth-child(even) {
	background-color: rgba(134, 137, 140, .3);
}
