* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body {
	height: 100%;
}

main {
	background: url(https://images.pexels.com/photos/262272/pexels-photo-262272.jpeg?h=350&auto=compress&cs=tinysrgb) no-repeat center /cover;
	text-align: center;
	height: 100%;
}

h1 {
	padding-top: 30px;
	padding-bottom: 75px;
	font: 56px 'Montserrat', sans-serif;
	color: #FF7145;
	text-transform: uppercase;
}

h2,
h3 {
	font: 42px 'Kalam', cursive;
 	color: #999933;
 	padding: 0 100px 50px 100px;
}

h3 {
	font-size: 28px;
}

.trigger,
.tweet {
	display: block;
	margin: 0 auto;
	cursor: pointer;
	font: 36px 'Montserrat', sans-serif;
	color: #FFFF00;
	outline-style: none;
	text-transform: uppercase;
	border: none;
	border-radius: 5px;
	width: 500px;
	height: 75px;
	background-color: #999933;
}

.trigger:hover,
.tweet:hover {
	outline-style: none;
	opacity: .7;
}

.tweet {
	font-size: 24px;
	text-decoration: none;
	line-height: 75px;
	margin-top: 15px;
}

i {
	margin-right: 15px;
}